.flex-header{
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

/* company logo */
.company-logo{
    padding:0 10px;
    width: 17%;
    display: flex;
    gap:10px;
    align-self: center;
}
.company-name h1{
    font-size: 14px;
}

/* group-menu */
.group-menu{
    width: 70%;
    align-self: center;
}

@media (max-width: 1200px) {
    .flex-header{
        width: 800px;
        margin: 0 auto;
    }
    .company-logo{
        width: 10%;
    }
    .group-menu{
        width: 90%;
    }
}

@media (max-width: 800px) {
    .flex-header{
        width: 800px;
        margin: 0 auto;
    }
    .company-logo{
        width: 10%;
    }
    .heading-navigation ul {
        gap: 10px;
    }
    .login-signup{
        background-color: #c86f6f;
        display: none !important;
    }
}

@media (max-width: 400px) {
    .flex-header{
        width: 400px;
        margin: 0 auto;
    }
    .company-logo{
        width: 1%;
    }
    .heading-navigation ul {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    .heading-navigation li a {
        font-size: 10px;
    }
}

/* heading navigation*/
.heading-navigation{
    padding:0 100px;
}
.heading-navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.heading-navigation ul li {
    list-style: none;
}

/* login-signup navigation */
.login-signup{
    width: 13%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.login-signup {
    background-color: #ffffff;
}

.login-signup button{
    background-color: white;
    width: 80px;
    height: 40px;
    color: #149507;
    border-radius: 5px;
    border: none;
}
.login-signup .signup-area button{
    background-color: #4CAF4F;
    color: white;
}

/* main flex hero */
/* main flex hero */
/* main flex hero */

.hero{
    margin: 0 50px;
    /*background-color: #7f2e5c;*/
}
.hero-container{
    margin: 0 40px;
    display: flex;
    /*background-color: #c86f6f;*/
}
.hero-left-frame{
    margin: 30px 30px;
    /*background-color: #9b59b6;*/
    flex: 70%;
}
.hero-left-frame h1{
    font-size: 64px;
}
.hero-left-frame p{
    font-size: 16px;
    /*color: #717171;*/
}
.hero-button button {
    padding: 14px 32px;
    background-color: #4CAF4F;
    border-radius: 5px;
    border: none;
    color: white;
}

.hero-right-illustration{
    margin: 30px 30px;
    /*background-color: #9b59b6;*/
    flex: 30%;
}

.right-illustration img{
    width: 391px;
    height: 407px;
}

/* main flex clients */
/* main flex clients */
/* main flex clients */

.clients{
    margin: 0 50px;
    /*background-color: #7f2e5c;*/
}
.clients-container{
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    /*background-color: #c86f6f;*/
}
.clients-start {
    display: flex;
    flex-direction: column;
}

.clients-start > * {
    text-align: center;
}
.clients-start > h2 {
    color: #4D4D4D
}
.clients-start > p {
    color: #717171
}

.clients-end .client-logos ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clients-end .client-logos li {
    list-style: none;
}
